# Godot
.godot/
app/.godot/
app/android/build/
app/build/

# Android / Gradle
.gradle/
**/build/
local.properties
*.apk
*.aab
*.aar
*.jks
*.keystore

# Native
.cxx/
.externalNativeBuild/

# Editors / OS
.idea/
.vscode/
.DS_Store
*.iml
